<!DOCTYPE html>
<html>

<head>
    <title>Register</title>
</head>

<body>
    <h1>Register</h1>
    <form action="{{ url_for('register') }}" method="POST">
        <table>
            <tr>
                <td><label>Id:</label></td>
                <td><input name="id" type="number" placeholder="Id" required></td>
            </tr>
            <tr>
                <td><label>Name:</label></td>
                <td><input name="name" type="text" placeholder="Name" required></td>
            </tr>
            <tr>
                <td><label>Gender:</label></td>
                <td>
                    <select name="gender">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label>Birth Date:</label></td>
                <td><input name="birth_date" type="date" placeholder="Birth Date"></td>
            </tr>
            <tr>
                <td><label>Address:</label></td>
                <td><input name="address" type="text" placeholder="Address"></td>
            </tr>
            <tr>
                <td><label>Class:</label></td>
                <td>
                    <select name="class">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label>Group:</label></td>
                <td>
                    <select name="group">
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><button type="submit">Send</button></td>
            </tr>
        </table>
    </form>
</body>

</html>