<!DOCTYPE html>
<html>

<head>
    <title>Students Search</title>
</head>

<body>
    <h1>Students</h1>
    
    <form>
        <p><label>Name:</label><input type="text" placeholder="Name"></p>
    </form>

    {% if message %}
    <p>{{ message }}</p>
    {% endif %}

    {% for student in students %}
    <ul>
        <li>Id: <a href="{{ url_for('student', id=student['id']) }}">{{ student['id'] }}</a></li>
        <li>Name: {{ student['name'] }}</li>
        <li>Gender: {{ student['gender'] }}</li>
        <li>Class: {{ student['class'] }}, Group: {{ student['group'] }}</li>
    </ul>
    {% endfor %}
</body>

</html>